
<nb-card >
  <div class="titlebase">
    <h3>Soil</h3>
  </div>

  <nb-tabset nb-tab>
  

    <nb-tab tabTitle="Temperature">

      <div class="slider-container">
        <ngx-soilgraph></ngx-soilgraph>
        <!-- <ngx-temperature-dragger [(value)]="temperature" (power)="temperatureOff = !$event"
                                 [min]="temperatureData.min" [max]="temperatureData.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': temperatureOff }">
            <div class="value temperature h1">
              {{ temperatureOff ? '--' : (temperature | ngxRound) }}
            </div>
            <div class="desc">
              Celsius
            </div>
          </div>
        </ngx-temperature-dragger> -->
      </div>

      <!-- <nb-radio-group [(ngModel)]="temperatureMode" name="temperature-mode">
        <nb-radio value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group> -->
    </nb-tab>

    <nb-tab tabTitle="Moisture">

      <div class="slider-container">
        <!-- <ngx-temperature-dragger [(value)]="humidity" (power)="humidityOff = !$event"
                                 [min]="humidityData.min" [max]="humidityData.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': humidityOff }">
            <div class="value humidity h1">
              {{ humidityOff ? '--' : (humidity | ngxRound) }}
            </div>
          </div>
        </ngx-temperature-dragger> -->
     <ngx-soilgraph-moist></ngx-soilgraph-moist>
      </div>

    
    </nb-tab>

    <nb-tab tabTitle="Ph">

      <div class="slider-container">
        <ngx-soilgraph-ph></ngx-soilgraph-ph>
        <!-- <ngx-temperature-dragger [(value)]="Ph" (power)="humidityOff = !$event"
                                 [min]="PhData.min" [max]="PhData.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': PhOff }">
            <div class="value humidity h1">
              {{ PhOff ? '--' : (humidity | ngxRound) }}
            </div>
          </div>
        </ngx-temperature-dragger> -->
      </div>

     
    </nb-tab>
  </nb-tabset>

  <!-- <div>
    <nb-card>
    <nb-card-header>Area Stack</nb-card-header>
    <nb-card-body>
      <ngx-soilgraph></ngx-soilgraph>
    
    </nb-card-body>
  </nb-card>
  </div> -->

 
</nb-card>


