<nb-card>
  
  <div class="titlebase">
    <h3>Water</h3>
  </div>
      <nb-tabset nb-tab>
        <nb-tab tabTitle="Pressure" badgePosition="center start" >
           <ngx-watergraph-pressure></ngx-watergraph-pressure>
          </nb-tab>
        <nb-tab tabTitle="TDS" badgePosition="center start" >
           <ngx-watergraph-tds></ngx-watergraph-tds>
          </nb-tab>
        <nb-tab tabTitle="PH" badgePosition="center start" >
           <ngx-watergraph-ph></ngx-watergraph-ph>
          </nb-tab>
        <nb-tab tabTitle="TSS"  badgePosition="center start" >
          <ngx-watergraph-tss></ngx-watergraph-tss>
        </nb-tab>
        <nb-tab tabTitle="Surface-Temperature-motor"  badgePosition="center start" >
          <ngx-watergraph-surfacetemp></ngx-watergraph-surfacetemp>
          </nb-tab>
      </nb-tabset>
  
   
  </nb-card>

  
  
  