
<nb-card >
    <div class="titlebase">
      <h3>Ambient</h3>
    </div>
  
    <nb-tabset nb-tab>
    
  
      <nb-tab tabTitle="Temperature">
  
        <div class="slider-container">
         <ngx-airgraph-temp></ngx-airgraph-temp>
        </div>
  
    
      </nb-tab>
  
      <nb-tab tabTitle="Humidity">
  
        <div class="slider-container">
            <ngx-airgraph-humidity></ngx-airgraph-humidity>
        </div>
  
      
      </nb-tab>
  

    </nb-tabset>
  </nb-card>
  
  
  