@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    margin: 0;
  }

  .grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(49% - 40px);  
    justify-content: flex-end;;
    flex-direction: column;
    min-height: 24vh;
    margin: 1.3rem;
    border: 5px solid #bdc4cd;
    cursor: pointer;
  }
  .grid2x2 :hover{
    border: 5px solid #3366ff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .grid2x2 > div > div {
    display: flex;
    // justify-content: ;
    flex-direction: row;
  }
  .box :hover{
  
    border: 0px solid #3366ff !important;
  }
  
  .box { gap:2px;
    background-color: rgb(252, 252, 252);
   
  }
  .plant-name {
   
    width: 100%;
    color: white;
    background: nb-theme(overlay-backdrop-background-color);
    padding: 0.5rem 1rem;
  }
   .box1 { 
    background-image: url("/../../assets/cropimage/chilli.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;
  
    }
    .box2 {
      background-image: url("/../../assets/cropimage/tomato.jpg");
      background-repeat: no-repeat;
      background-size: auto;
      background-size: 100% 100%;
    }
    .box3{
      background-image: url("/../../assets/cropimage/purplesessilejoyweed.jpg");
      background-repeat: no-repeat;
      background-size: auto;
      background-size: 100% 100%;
    }
    .box4{
      background-image: url("/../../assets/cropimage/mint.jpg");
      background-repeat: no-repeat;
      background-size: auto;
      background-size: 100% 100%;
    }
  // .box2 { background-color: orange; }
  // .box3 { background-color: purple; }
  // .box4 { background-color: grey; }
  nb-card-header {
    border-color: transparent;
  }

  svg {
    width: 100%;
  }

  .stroke-pattern {
    fill: none;
    stroke: #bdc4cd;
    stroke-miterlimit: 10;
    opacity: 0.1;
    stroke-width: 1px;
  }

  .stroked-element {
    stroke-width: 4px;
    stroke: #bdc4cd;
    stroke-miterlimit: 10;
  }

  .room-border {
    stroke-width: 4px;
    stroke: #bdc4cd;
    stroke-miterlimit: 10;
    fill: none;
  }

  .room-bg {
    fill: nb-theme(card-background-color);
    stroke: transparent;
    cursor: pointer;
    stroke-width: 4px;
  }

  .room-bg-border-grad {
    fill: none;
    stroke: none;
    stroke-width: 4px;
  }

  .room-text {
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    fill: nb-theme(text-hint-color);
  }

  .selected-room {
    z-index: 40;

    .room-text {
      fill: nb-theme(text-basic-color);
    }
    .room-border {
      stroke: nb-theme(color-primary-default);
    }
  }

  .header {
    border-bottom: none;
    padding-bottom: 0;
  }
}
