<div class="row">
  <nb-card accent="primary" status="warning">
    <nb-card-header>Farm Status</nb-card-header>
    <nb-card-body>
      Agriculture implements IoT through use of robots, drones, sensors and computer imaging integrated with analytical
      tools for getting insights and monitor the farms. Placement of physical equipment on the farms monitors and
      records data which is used to get insights.
    </nb-card-body>
  </nb-card>
  <div class="col-md-6 col-lg-6 col-xxxl-12">
    <nb-card>
      <ngx-room-selector></ngx-room-selector>
    </nb-card>
  </div>
  <div class="col-md-6 col-lg-6 col-xxxl-12">
    <nb-card>
      <ngx-security-cameras></ngx-security-cameras>
    </nb-card>
  </div>
</div>
<!-- <nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Alerts">
        <div class="col-md-12 col-lg-12 col-xxxl-12">
          <nb-card status="success">
            <nb-card-header>Farm Status</nb-card-header>
            <nb-card-body>
              <nb-alert status="success" accent="danger">Sector 1 is perfectly fine!</nb-alert>
              <nb-alert status="warning" accent="danger">Sector 2 Water flow is high!</nb-alert>
              <nb-alert status="danger" accent="primary">Sector 3 needs attention!</nb-alert>
            </nb-card-body>
            <nb-card-footer></nb-card-footer>
          </nb-card>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Camera">
        <ngx-security-cameras></ngx-security-cameras>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card> -->



<div class="row">
  <div class="col-xxxl-3 col-md-4 col-lg-4" *ngFor="let statusCard of statusCards">
    <ngx-status-card onclick="statusEvent($event)" [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>

</div>

<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <ngx-air></ngx-air>
  </div>
</div>
<div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
  <ngx-water></ngx-water>
</div>



<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-weather></ngx-weather>
  </div>
  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <!-- <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div> -->

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <!-- <ngx-contacts></ngx-contacts> -->
    <!-- <ngx-traffic></ngx-traffic> -->
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <ngx-solar [chartValue]="solarValue"></ngx-solar> -->

    <!-- <ngx-kitten></ngx-kitten> -->
  </div>

  <!-- <div class="col-xxxl-3 col-xxl-4 col-md-5">
  
    <ngx-weather></ngx-weather>
  </div> -->

  <!-- <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div> -->
</div>
