
<div>
    <nb-card >
    <nb-card-header>
        <nb-select [(selected)]="type" (selectedChange)="onMenuItemSelected(type)" class="type-select">
            <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
          </nb-select>
    </nb-card-header>
    <nb-card-body>
        <div echarts [options]="options" class="echart"></div>
    
    </nb-card-body>
  </nb-card>
  </div> 
  